@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="text-left">
    <b>User ID: </b>
    @HttpContextAccessor?.HttpContext?.Session.GetString("_UserId")
    <br />
    <b>User Name: </b>
    @HttpContextAccessor?.HttpContext?.Session.GetString("_UserName")
    <br />
</div>

