@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{}
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-left">
    <b>Username: </b>
    @HttpContextAccessor?.HttpContext?.Request.Cookies["username"]
    @ViewBag.UserID
    <br />
    <b>UserId: </b>
    @HttpContextAccessor?.HttpContext?.Request.Cookies["userId"]
    @ViewBag.UserName
    <br />
</div>
